<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyNotification.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkyLap_DATN_MD03"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.ChiTietDonHangActivity"
            android:exported="false" />

        <service
            android:name=".MyNotification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activities.auth.LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SetingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.GioHangActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DatHangThanhCongActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DanhGiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.QuanLyDanhGiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.QuanLyDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChiTietSanPhamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DanhSachYeuThichActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AccountManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.KhuyenMaiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ThemDiaChiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DatHangActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
    </application>

</manifest>